* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
}

body{
    background: #e7d8e2;
}

.container{
    max-width: 900px;
    margin: 50px auto 180px;
    text-align: center;
}

header{
    text-align: center;
    background: #333;
    padding: 20px 0;
}

nav ul li{
    display: inline;
}

nav a{
    text-decoration: none;
    color: white;
    background: #9f0d3c;
    padding: 5px;
    border-radius: 3px
}

header nav a:hover{
    color: gray;
}

.contact-form {
    background:#9f0d3c; 
    padding: 20px;
    max-width: 500px;
    border-radius: 8px;
    color: white;
    font-family: sans-serif;
    margin: 20px auto;
    text-align: left;
}

.label_input_wrap {
    display: block;
    font-weight: bold;
}

.reset input,
.submit input {
    background: black;
    color: white;
    padding: 5px 20px;
}

.reset,
.submit{
    display: inline;
}

.reset,
.submit:visited{
    background: gray;
}

.input-section{
    margin-bottom: 10px;
}

input{
    padding: 5px 10px;
    border-radius: 3px;
}

textarea{
    font-family: sans-serif;
    padding: 9px 10px;
    border-radius: 4px;
}

select{
    width: 185px;
    padding: 8px 0;
    border-radius: 4px; 
}

footer{
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1:first-letter {
    color: #9f0d3c;
}

p:first-line {
    color: #333;
}

h1:first-line{
    font-style: italic;
}



